RR-Import/src/main/resources/schemas/RMS-DLM-Profile.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="RmsDlmProfile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProfileName" type="xs:string"/>
				<xs:element name="ProfileDescription" type="xs:string"/>
				<xs:element name="InsuranceType">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Peril">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="Region">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalysisRegions">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AnalysisRegion" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="Name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalysisType">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalysisMode">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="AnalysisModeValue" type="xs:double"/>
				<xs:element name="EventDate" type="xs:date"/>
				<xs:element name="EventRateSet">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="VulnerabilityCurve">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="SubPerils">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SubPeril" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="Name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Code" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="TimeWindow" type="xs:double"/>
				<xs:element name="FinancialPerspective">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:string">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="LossAmplifications">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LossAmplification" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="Name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Code" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExposureAdjustment">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExposureTime">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExposureDay">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="PercentSubject" type="xs:double"/>
				<xs:element name="InjuryCostScheme">
					<xs:complexType>
						<xs:simpleContent>
							<xs:extension base="xs:integer">
								<xs:attribute name="Name" type="xs:string" use="required"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
				<xs:element name="EventTypeFilters">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="EventTypeFilter" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="Name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Code" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AssumeUnknownPrimary">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ConstructionModifier" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:integer">
											<xs:attribute name="Name" type="xs:string" use="required"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Code" type="xs:integer" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="AssumeUnknownSecondary" type="xs:boolean"/>
				<xs:element name="ScaleFactor" type="xs:double"/>
				<xs:element name="ScaleBuildingValues" type="xs:double"/>
				<xs:element name="ScaleContentValues" type="xs:double"/>
				<xs:element name="ScaleBIValues" type="xs:double"/>
				<xs:element name="AddressResidualDemandSurge" type="xs:boolean"/>
				<xs:choice>
					<xs:element name="ConvectiveStormOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Severe Convective Storm</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FootprintFile" type="xs:string"/>
								<xs:element name="EventNumber" type="xs:integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="EarthquakeOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Earthquake</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ReturnPeriod" type="xs:integer"/>
								<xs:element name="IncludeModifier" type="xs:boolean"/>
								<xs:element name="Magnitude" type="xs:double"/>
								<xs:element name="UserDefinedCV" type="xs:double"/>
								<xs:element name="Region">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute name="Name" type="xs:string" use="required"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="FootprintFile" type="xs:string"/>
								<xs:element name="FaultNumber" type="xs:integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="FloodOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Flood</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FootprintFile" type="xs:string"/>
								<xs:element name="EventNumber" type="xs:integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="TerrorismOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Terrorism</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="ThreatType" type="xs:integer"/>
								<xs:element name="RiskOutlook" type="xs:integer"/>
								<xs:element name="DataResolution" type="xs:integer"/>
								<xs:element name="AttackModes" type="xs:integer"/>
								<xs:element name="FireOnlySFPStates" type="xs:boolean"/>
								<xs:element name="ExcludePerRiskReinsurance" type="xs:boolean"/>
								<xs:element name="TerrorismCertificationThreshold" type="xs:double"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="WindstormOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Windstorm</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="GroundUpModifiers">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="GroundUpModifier" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:integer">
															<xs:attribute name="Name" type="xs:string" use="required"/>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Code" type="xs:integer" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="CoverageLeakage">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Coverage" minOccurs="0" maxOccurs="unbounded">
												<xs:complexType>
													<xs:simpleContent>
														<xs:extension base="xs:integer">
															<xs:attribute name="Name" type="xs:string" use="required"/>
														</xs:extension>
													</xs:simpleContent>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
										<xs:attribute name="Code" type="xs:integer" use="required"/>
									</xs:complexType>
								</xs:element>
								<xs:element name="SingleFamilyRate" type="xs:double"/>
								<xs:element name="MultiFamilyRate" type="xs:double"/>
								<xs:element name="OtherRate" type="xs:double"/>
								<xs:element name="SingleFamilyFactor" type="xs:double"/>
								<xs:element name="MultiFamilyFactor" type="xs:double"/>
								<xs:element name="OtherFactor" type="xs:double"/>
								<xs:element name="FootprintFile" type="xs:string"/>
								<xs:element name="EventNumber" type="xs:integer"/>
								<xs:element name="MinSaffCategory" type="xs:integer"/>
								<xs:element name="IgnoreLocalDefenses" type="xs:boolean"/>
								<xs:element name="ResetFloodElevationToDefault" type="xs:boolean"/>
								<xs:element name="Assume2Percent" type="xs:boolean"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="WinterstormOptions" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Options for Winterstorm</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="FootprintFile" type="xs:string"/>
								<xs:element name="EventNumber" type="xs:integer"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="ProfileId" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
