RR-Backend/src/main/resources/schemas/commons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://scor.com/almf/ws/commons" xmlns:ns="http://scor.com/almf/ws/commons" elementFormDefault="qualified">

	<xs:complexType name="TechnicalResponse" abstract="true">
		<xs:sequence>
			<xs:element name="status" type="ns:Status"/>
			<xs:element name="code" type="xs:string" minOccurs="0"/>
			<xs:element name="message" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Status">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK"/>
			<xs:enumeration value="ERR"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>